{
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaFeatures": {
        "legacyDecorators": true
      }
    },
    "env": {
      "browser": true,
      "node": true
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      "indent": ["error", 2]
    }
}
