a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
}

body {
  background-color: black;
  color: white;
  margin:0;
}

.mapVisible {
  visibility: visible;
  background-color: red;
}

.mapHidden {
  visibility: hidden;
}

.menu-item {
  display: inline-block;
  pointer-events: none;
}

.menu-item-right {
  display: inline-block;
  margin-left: .3em;
  pointer-events: auto;
}

.menu-item-left {
  display: inline-block;
  margin-right: .3em;
  pointer-events: auto;
}

.menu-item-center{
  display: inline-block;
  margin-right: .3em;
  margin-left: .3em;
  pointer-events: auto;
}

.menu-top {
  position: fixed;
  bottom: top;
}

// Navbar

.navbar {
  // overflow: hidden;
  // position: fixed;
  background-color:  coral;
  flex: 1;
}

.navbar-top {
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: gray;
}

.navbar-bottom {
  bottom: 0;
}

// Top and bottom container

.flex-container-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%
}

.flex-container-column {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.flex-row-header {
  display: flex;
  position: sticky;
  top: 0;
}

.flex-row-footer {
  display: flex;
  position: sticky;
  bottom: 0;
}

.flex-row-body {
  pointer-events: none;
  flex-grow: 1;
  display: flex;
}

.flex-full-height-min {
  display: flex;
  width: 60em;
  min-height: 100vh;
}

.flex-container-top {
  display: flex;
  justify-content: center;
  height: 20px;
}

.flex-container-bottom {
  display: flex;
  justify-content: center;
  height: 20px;
}

.flex-max-width {
  width: 60em;
  display: flex;
}

.top-menu {
  width: 60em;
  position: fixed;
}

.bottom-menu {
  width: 60em;
  position: fixed;
  bottom: 0;
}

.flex {
  display: flex;
  width: calc(60em /2);
  background-color: orange;
}

.flex-container-left {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

.flex-container-right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.flex-container-center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

// Skyline
.full-screen {
  z-index:-1337;
  position: fixed;
  left:0px;
  right:0px;
  width:100vw;
  height:100vh;
}
  
.fill-container {
  width:100%;
  height:100%;
  display: block;
}

html {
  pointer-events: none;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}
