a {
    font-size: .85em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

body {
    background-color: black;
    color: white;
}

.menu-item {
    display: inline-block;
    margin-left: .3em
}